spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/bookstore_db
    username: postgres
    password: ${DB_PASSWORD}
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        default_schema: catalogue

server:
  port: 8081
